* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --site-bg-color: #060044;
  --primary-color: #5effa3;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--site-bg-color);
  // IT'S DONE THIS WEIRD WAY BECAUSE OF FRICKEN SAFARI:
  // background: 
  //   radial-gradient(circle 7rem, var(--primary-color) 7rem, transparent 7rem, transparent) calc(85vw - 7rem) calc(-5vh - 7rem)/ 14rem 14rem,
  //   radial-gradient(circle 10rem, var(--primary-color) 10rem, transparent 10rem, transparent) calc(-1vw - 10rem) calc(60vh - 10rem)/ 20rem 20rem,
  //   radial-gradient(circle 10rem, var(--primary-color) 10rem, transparent 10rem, transparent) calc(95vw - 10rem) calc(90vh - 10rem)/ 20rem 20rem,
  //   var(--site-bg-color);
  // THE EASIER WAY SUPPORTED BY MOST OTHER BROWSERS:
  background-image: 
    radial-gradient(circle 7rem at 85vw -5vh, var(--primary-color) 7rem, transparent 7rem, transparent),
    radial-gradient(circle 10rem at -1vw 60vh, var(--primary-color) 10rem, transparent 10rem, transparent),
    radial-gradient(circle 10rem at 95vw 90vh, var(--primary-color) 10rem, transparent 10rem, transparent);
  background-repeat: no-repeat;
  color: #f4f4f4;
}

.site-container {
  --site-padding: clamp(1rem, 5vw, 4rem);
  max-width: calc(1400px + var(--site-padding));
  margin: auto;
  padding: 0 var(--site-padding);
}

a {
  color: inherit;
}

a.btn-secondary {
  color: var(--primary-color);
  padding: 1em 1.25em;
  border: solid 2px var(--primary-color);
  border-radius: 50px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s, color 0.3s;
    z-index: -1;
  }

  &:hover {
    color: var(--site-bg-color);

    &:before {
      transform: scaleX(1);
    }
  }
}

.tc-primary {
  color: var(--primary-color)
}

@media (max-width: 767px) {
  body {
    background-image: 
      radial-gradient(circle 7rem at 15vw -5vh, var(--primary-color) 7rem, transparent 7rem, transparent),
      radial-gradient(circle 10rem at 125vw 90vh, var(--primary-color) 10rem, transparent 10rem, transparent);
  }

  // body {
  //   background: 
  //     radial-gradient(circle 7rem, var(--primary-color) 7rem, transparent 7rem, transparent) calc(15vw - 7rem) calc(-5vh - 7rem)/ 14rem 14rem no-repeat,
  //     radial-gradient(circle 10rem, var(--primary-color) 10rem, transparent 10rem, transparent) calc(125vw - 10rem) calc(90vh - 10rem)/ 20rem 20rem no-repeat,
  //     var(--site-bg-color);
  // }
}