.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  // padding: 6rem 0;
  padding: clamp(4rem, 15vw, 6rem) 0;

  p {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  // img {
  //   display: inline-block;
  //   // width: 200px;
  //   // height: 200px;
  //   height: clamp(150px, 30vw, 200px); // 25vw
  //   aspect-ratio: 1 / 1;
  //   border: solid 4px #fff;
  //   border-radius: 50%;
  // }

  .profileImage {
    height: clamp(150px, 30vw, 200px); // 25vw
    aspect-ratio: 1 / 1;
    border: solid 4px #fff;
    border-radius: 50%;
    overflow: hidden;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // font-size: 3.5rem;
    font-size: clamp(1rem, 9.25vw, 3.5rem); // 7vw

    span {
      display: block;
      line-height: 1;

      &:last-child {
        margin-left: -8px;
        font-size: 3em;
        line-height: 0.79;
      }
    }
  }
}

.socials {
  font-size: 1.75rem;

  svg {
    margin: 0 1rem;

    &:hover {
      color: var(--primary-color);
    }
  }
}